/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: inherit;
    text-align: inherit;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}

/* HEADER */

header {
    height: 5rem;
    background-color: #ff6900;
    display: flex;
    color: white;
    font-size: 1.2em;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-links ul {
    list-style-type: none;
    display: flex;
    gap: .5rem;
    text-decoration: none;
    vertical-align: middle;
}

.logo {
    width: 15%;
    vertical-align: middle;

}

.login ul {
    list-style-type: none;
    text-align: right;
    display: flex;
    vertical-align: middle;
    gap: .5rem;
}

/* MAIN */

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.col {
    width: calc(95% / 3);
}

.card {
    position: relative;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.first {
    display: block;
}

.change {
    display: none;
}

.card:hover .first {
    display: none;
}

.card:hover .change {
    display: block;
}

.lables {
    display: inline-block;
    position: absolute;
    bottom: 135px;
    left: 0;
    color: white;
    font-size: .9em;
}

.discount {
    background-color: red;
    padding: .2rem .5rem;
}

.sustain {
    background-color: green;
    padding: .2rem .5rem;
}

.caption {
    font-size: .9em;
}

.new-price {
    color: red;
}

.old-price {
    text-decoration: line-through;
}

.heart {
    position: absolute;
    top: 3%;
    right: 17%;
}

.black-heart {
    display: inline-block;
    align-items: center;
}

.red-heart {
    display: none;
}

.heart:hover .black-heart {
    display: none;
}

.heart:hover .red-heart {
    display: inline-block;
}

.lables {
    display: inline-block;
    position: absolute;
    bottom: 135px;
    left: 0;
    color: white;
    font-size: .9em;
}

/* FOOTER */

.footer {
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    color: white;
}

.footer-links ul {
    display: flex;
    text-align: right;
    gap: 0.8rem;
    list-style-type: none;
    text-decoration: none;
}

.contatti {
    display: inline-block;
    text-align: right;
}

.social {
    font-size: 1rem;
}







